@import "../../helper/style/_color";


html {
  width: 100%;
  height: 100%;
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.AppBar {
  display: flex;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 30;
}

.normal {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  width: 100px;
  height: 50px;
  z-index: 15;
  margin-left: -50px;
  -webkit-transition: 0.2s ease 0.5s;
  -moz-transition: 0.2s ease 0.5s;
  -o-transition: 0.2s ease 0.5s;
  transition: 0.2s ease 0.5s;
}

.loading {
  @extend .normal;
  margin-left: 0px;
}

.logoContainer {
  width: 50px;
  cursor: pointer;
  outline: none;
}

.logo {
  margin-right: 5px;
  margin-top: 5px;
  width:40px;
  height: 40px;
}

.progress {
  margin-left: 5px;
  margin-top: 5px;
}

.Tabs {
  background-color: $accent-color;
  color: $primary-color;
  height: 50px;
  width: calc(100% - 50px);
  z-index: 20;
}

.Tab {
  text-transform: capitalize;
}
