.showChart-insertButton {
  margin: 20px 16px;
}

.showChart-buttons {
  margin: 20px 10px;
  display: flex;
  align-items: center;
}

.showChart-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
