@import '../../../../../helper/style/mixin.scss';


.selectBar-container {
  margin-top: 80px;
}

.selectBar-textField {
  @include no-select;
  display: flex;
  justify-content: center;
  margin: 0px 25px 0px 40px;
}

.selectBar-menu {
  width: 200;
}