@import '../../../../../helper/style/mixin.scss';


.summary-container {
  margin-bottom: 20px;
}

.summary-textSlider {
  @include no-select; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.summary-icon {
  font-size: 40px;
}