.text {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4px;
  margin-bottom: 10px;
}

.button {
  display: flex;
  margin: 0px 5px 10px 5px;
}

.title {
  margin: 0px;
}

.duration {
  margin: 0px;
  text-align: right;
}

.date {
  @extend .duration;
  color: #cfcfcf;
  font-size: 18px;
}
