.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-right: 6px;
  margin-left: 6px;
  cursor: pointer;
  outline: none;
}

.default {
  background-color: #cfcfcf;
  padding: 2px 10px;
}

.selected {
  background-color: #4CAF50;
  padding: 2px 10px;
}

.icon {
  background-color: #505050;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
