@import "../../../../../helper/style/_color";


.list {
  margin-top: 10px;
}

.time {
  color: $secondary-color;
}

.icon {
  color: #000000;
}

.button {

}

.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
