@import "../../../../../helper/style/_color";


.todayWork-list {
  margin-top: 10px;
}

.todayWork-time {
  color: $secondary-color;
}

.todayWork-icon {
  color: #000000;
}

.todayWork-stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}