@import '../../../../../helper/style/_color';
@import '../../../../../helper/style/mixin.scss';

.todayWork-list {
  margin-top: 10px;
}

.todayWork-title {
  @include no-select;
}

.todayWork-time {
  @include no-select;
  color: $secondary-color;
}

.todayWork-icon {
  color: #000000;
}

.todayWork-stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
