.normal {
  margin-top: 80px;
}

.blur {
  margin-top: 80px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.button {
  position: fixed;
  left: calc(50% - 60px/2);
  bottom: 10%;
  z-index: 5;
}

.image {
  max-width: 350px;
  height: 350px;
}
