@import "../../style/_color";


.tagShapeForReport-container {
  display: flex;
  justify-content: center;
  margin: 5px 6px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.tagShapeForReport-content {
  background-color: $accent-color;
  padding: 2px 10px;
}