@import '../../../helper/style/mixin.scss';


.about-container {
  @include no-select;
  margin-top: 150px;
  background-color: white;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

img {
  display: block;
  margin: auto;
  width: 55%;
}