.report-container {
  margin-top: 80px;
}

.report-controllBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.report-text {
  margin: 10px;
  text-align: center;
}

.report-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-workList {
  overflow: scroll;
}