@import '../../../../helper/style/mixin.scss';


.report-container {
  margin-top: 80px;
}

.report-dashboard {
  position: fixed;
  top: 0px;
  background: white;
  width: 100%;
  z-index: 5;
}

.report-controlBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.report-text {
  @include no-select;
  margin: 10px;
  text-align: center;
}

.report-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .report-container ::-webkit-scrollbar-track {
//   background-color: #ffffff;
// }

// .report-container ::-webkit-scrollbar {
//   width: 10px;
//   background-color: #ffffff;
//   border-radius: 20px;
// }

// .report-container ::-webkit-scrollbar-thumb {
//   background-color: #c9c9c9;
//   border-radius: 40px;
//   border: 2px solid #ffffff;
// }

// .report-container ::-webkit-scrollbar-thumb:hover {
//   border: 0px solid #ffffff;
// }