.container {
  margin-top: 80px;
}

.controllBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.text {
  margin: 10px;
  text-align: center;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workList {
  overflow: scroll;
}
